@media screen and (max-width: 576px) {
    .nav-container,
    .nav-item-container{
        flex-direction: column;
    }
    .nav-item-container{
        align-items: center;
        padding: 20px;
    }
    .nav-item-container .follow{
        margin: 30px;    
        padding: 20px;
        width: 220px;
    }

    /* banner responsive started */
    .banner-container{
        flex-direction: column-reverse;
        background: none;
    }
    .banner-title{
        width: 50%;
        align-items: center;
        padding-left: 0;
        text-align: center;
    }
    .banner-img .img{
        width: 80%;
        margin-left: 40px;
    }
    .banner-title h1{
        font-size: 30px;  
    }
    .banner-title .goat{
        font-size: 40px;  
    }
    .banner-title p{
        font-size: 20px;

    }
    .banner-btn{
        display: flex;

    }
    .btn-primary{
        font-size: 10px;
    }
    .btn{
        font-size: 10px;
    }
    /* banner responsive ended */
     

    /* video section responsive */
    .video-container{
        grid-template-columns: repeat(1,1fr);
        margin-left: 30px;
    }



    .feature-content{
        max-width: 450px;
        margin: 0 auto;
        width: 60%;
        text-align: center;
        padding: 10px;
    }
    .feature{
        flex-direction: column;
    }
    .feature-title{
        font-size: 20px;
    }
    .feature-profile{
        width: 70%;
        text-align: center;
        margin-right: 120px;
    }
    .img-1{
        width: 120%;
        object-fit: cover;
    }
    .img-2{
        width: 85%;
        object-fit: cover;
        position: relative;
        top: 180px;
        left: 65px;
    }
}

/* tablet device */


@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container,
    .banner-container,
    .feature{
        flex-direction: column;
    }

    .nav-item-container{
        width: 100%;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        
    }
    .banner-container{
        text-align: center;
    }
    .banner-title h1{
        font-size: 30px;  
    }
    .banner-title .goat{
        font-size: 40px;  
    }
    .banner-btn{
        display: flex;
    }

    .video-container{
        grid-template-columns: repeat(2,1fr);
        margin-left: 30px;
    }
    .feature-content{
        padding-left: 5px;
        padding-top: 10px;
        text-align: center;

    }
    .feature-profile{
        padding-left: 120px;
       }

    .feature{
        gap: 20px;
    }
}