@media screen and (max-width: 576px) {
    .nav-container,
    .nav-item-container{
        flex-direction: column;
    }
    .nav-item-container{
        align-items: center;
        padding: 20px;
        font-size: 10px;
    }
    .nav-item-container .about{
        margin: 30px;
    }
    .nav-item-container .follow{
        margin: 30px;    
        padding: 20px;
        width: 220px;
    }

    /* banner responsive started */
    .banner-container{
        flex-direction: column-reverse;
        background: none;
    }
    .banner-title{
        width: 50%;
        align-items: center;
        padding-left: 0;
        text-align: center;
    }
    .banner-img .img{
        width: 80%;
        margin-left: 40px;
    }
    .banner-title h1{
        font-size: 30px;  
    }
    .banner-title .goat{
        font-size: 40px;  
    }
    .banner-title p{
        font-size: 10px;

    }
    .banner-btn{
        display: flex;
        font-size: 10px;
        padding: 0;
        margin-left: 20px;

    }
    .btn-primary{
        font-size: 10px;
    }
    .btn{
        font-size: 10px;
    }
    /* banner responsive ended */
     

    /* video section responsive */
    .video-container{
        grid-template-columns: repeat(1,1fr);
        margin-left: 30px;
        gap: 50px;
    }
    .video-title{
        font-size: 25px;
    }
    .video-description{
        font-size: 10px;
    }
    .video-container p{
        font-size: 15px;
    }
    .video-1 img{
        width: 80%;
        height: 100%;
        padding-left: 50px;
    }
    .video-1 p{
        font-size: 10px;
        text-align: center;
        padding-right: 20px;
    }
    /* video section responsive */

   /* feature-section started  */
    .feature-content{
        max-width: 450px;
        margin: 0 auto;
        width: 60%;
        text-align: center;
        padding: 10px;
    }
    .feature{
        flex-direction: column;
    }
    .feature-title{
        font-size: 20px;
    }
    .feature-description{
        font-size: 10px;
    }
    .feature-profile{
        width: 70%;
        text-align: center;
        margin-right: 120px;
    }
    .img-1{
        width: 120%;
        object-fit: cover;
    }
    .img-2{
        width: 85%;
        object-fit: cover;
        position: relative;
        top: 180px;
        left: 65px;
    }
    /* feature section ended */

    .games-container{
        max-width: 400px;
        margin: 0 auto;
        padding: 0;
    }
    .card{
        width: auto;
        height: auto;
        margin-right: 0;

    }
    .card:hover{
        color: #F948B2;
        border: 3px solid #F948B2;
    }

    .card img{
        width: 30px;
        height: 30px;

    }
    .card p{
        font-size: 8px;
    }

    /* footer section */
    .footer{
        margin-top: 20px;
    }
    .teams,
    .services{
        display: grid;
        grid-template-columns: repeat(3, 80px);
        font-size: 12px;
    }
    .icons{
        display: grid;
        grid-template-columns: repeat(3, 80px);
        margin-left: 30px;
    }

    .teams{
        display: grid;
        grid-template-columns: repeat(2, 80px);
        font-size: 10px;
    }

    .logo-style{
        font-size: 20px;
        /* gap: 15px; */
    }
    .logo-style img{
        width: 50px;
        height: 30px;
    }
    .copy{
        font-size: 10px;
    }
}




/* tablet device */


@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container,
    .banner-container,
    .feature{
        flex-direction: column;
    }

    .nav-item-container{
        width: 100%;
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        
    }
    .banner-container{
        text-align: center;
    }
    /* .banner-title{
        margin-right: 50px;
    } */
    .banner-title{
        padding-right: 90px;
    }
    .banner-title h1{
        font-size: 20px;  
    }
    .banner-title p{
        font-size: 10px;
    }
    .banner-title .goat{
        font-size: 40px;  
    }
    .banner-btn{
        display: flex;
        font-size: 10px;
        padding-left: 30px;
        gap: 5px;
        /* padding: 0; */
    }
    .btn-primary {
        font-size: 8px;
    }
    .btn{
        font-size: 8px;
    }


    .video-container{
        grid-template-columns: repeat(2,1fr);
        margin-left: 30px;
    }
    .feature-content{
        margin: 0 auto;
        width: 90%;
        text-align: center;
        padding: 10px;
        padding-bottom: 50px;
    }
    .feature-title{
        font-size: 30px;
    }
    .feature-profile{
        width: 70%;
        text-align: center;
    }
    .img-1{
        width: 120%;
        object-fit: cover;
    }
    .img-2{
        width: 85%;
        object-fit: cover;
        position: relative;
        top: 320px;
        left: 65px;
    }
}