@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Lato:wght@400;700;900&family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.gamer{
    color: #FF42A5;
    font-weight: 700;
}
.nav{
    background-color: white;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

    padding: 20px;
}
.nav-container{
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-container{
    display: flex;
}

.logo-container img{
    width: 70px;
    height: 40px;

}
.logo-container p{
    font-size: 30px;
}

.nav-item-container{
   width: 50%;
   display: flex;
   justify-content: space-between;
}

.nav-item-container a{
     text-decoration: none;
     font-size: 20px;
}
.follow{
    background-color: rgb(225, 216, 216);
    border-radius: 5px;
    padding: 5px;
}


/* banner section started */

.banner-container{
    max-width: 1400px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
     background-image: url("../images/Group\ 14.png");
     background-repeat: no-repeat;
}
.banner-title{
    width: 50%;
    padding-left: 80px;
}
.banner-title h1{
    font-size: 48px;
    font-weight: 600;
}
.banner-title  .goat{
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(to bottom,  #F948B2,#8758F1);
    color: transparent;
    -webkit-background-clip: text;
}
.banner-title p{
    font-size: 20px;
    font-weight: 500;
}
.btn-primary{
    color: #fff;
    font-weight: 600;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-size: 20px;
    padding: 10px 20px;
    border: 0;
}
.btn{
    color: #fff;
    font-weight: 600;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg,#4EC5F7 0%, #4EC5F7 100%));
    font-size: 20px;
    padding: 10px 20px;
    border: 0;
}
.banner-btn{
    padding: 20px;
}
.banner-img .img{
    width: 500px;
    object-fit: cover;
}
/* banner section ended */

/* video section started */
.video-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  max-width: 1400px;
  margin: 0 auto;
}
 
.video-content{
    text-align: center;
    margin-bottom: 20px;
}

.video-title{
    font-size: 40px;
    font-weight: 700;
    padding: 10px; 
    margin-bottom: 10px;
}
.video-description{
    font-size: 15px;
}
.video-title .funny{
    background: linear-gradient(to bottom,  #F948B2,#8758F1);
    color: transparent;
    -webkit-background-clip: text;
}

/* video section ended */

/* feature section started */
.feature{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin:  100px auto; 
}

.feature-content{
    text-align: right;
    padding-left: 80px;
    padding-top: 150px;
}

.feature-title .play{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature-title{
    font-size: 40px;
    font-weight: 700;
}

.feature-description{
    font-size: 15px;
    font-weight: 400;

}
.feature-profile{
    display: flex;
    flex-direction:row-reverse ;
}
.feature-content{
    width: 40%;
}
.img-1{
    width: 80%;
    object-fit: cover;
}
.img-2{
    width: 60%;
    object-fit: cover;
    position: relative;
    top: 320px;
    left: 200px;
}

/* game section started */
.games{
    border: 1px solid red;
    max-width: 1400px;
    margin: 120px auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.games-container{
    display: flex;
    justify-content: space-around;
}
.games-content{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.card{
    display: flex;
    align-items: center;
    background-color: skyblue;
    border: 1px solid white;
    border-radius: 50px;
}
.games-container img,
.games-content img
{
    width: 50px;
    height: 50px;

}
.games-container p,
.games-content p{
    font-size: 20px;
}

/* game section ended */